<table id="all-sources" class="uk-table uk-table-striped uk-table-condensed">
  <caption>All sources</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Update interval</th>
            <th>Last Update</th>
            <th>Feed count</th>
            <th>Refresh</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
  <% for (var i = 0; i < sources.length; i++) { %>
    <tr class="source-<%= sources[i].id() %>">
      <td><%= sources[i].name() %></td>
      <td><a href="<%= sources[i].url() %>"><%= sources[i].url() %></a></td>
      <td>every <%= sources[i].interval() %> hours</td>
      <td><%= sources[i].last_update() %></td>
      <td><%= sources[i].count() %></td>
      <td><a href="#update-source" class="uk-icon-refresh"
      data-source-id="<%= sources[i].id() %>"></a></td>
      <td><a href="#delete-source" class="uk-icon-remove"
      data-source-id="<%= sources[i].id() %>"></a></td>
      <td><a href="#edit-source" class="uk-icon-edit"
      data-source-id="<%= sources[i].id() %>"></a></td>
    </tr>
  <% } %>
</table>

