<div class="uk-margin uk-align-right">
    <form class="uk-search uk-search-default">
        <input class="uk-search-input" type="search" placeholder="Search...">
    </form>
</div>
<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
    <tr>
        <th>Source</th>
        <th>Url</th>
        <th>Interval</th>
        <th>Last Update</th>
        <th class="uk-width-small"></th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < sources.length; i++) { %>
        <tr class="source-<%= sources[i].id() %>">
            <td>
                <span class='source-name'><%= sources[i].name() %></span>
                <span class='errors'></span>
                <div class="uk-text-middle">
                    <input class="uk-hidden uk-form-width-small"
                           type="text" name="name"
                           value="<%= sources[i].name() %>" />
                </div>
            </td>

            <td>
                <span class="source-url">
                    <a href="<%= sources[i].url() %>"><%= sources[i].url() %></a>
                </span>
                <div class="uk-text-middle">
                    <input class="uk-hidden uk-form-width-small"
                           type="text" name="url"
                           value="<%= sources[i].url() %>" />
                </div>
            </td>

            <td>
                <span class="source-interval">every
                    <%= sources[i].interval() %> hours</span>
                <div class="uk-text-middle">
                    <input class="uk-hidden uk-form-width-small"
                           type="text" name="interval"
                           value="<%= sources[i].interval() %>" />
                </div>
            </td>

            <td>
                <%= moment(sources[i].last_update()).fromNow() %>
            </td>

            <td>
                <a href="#edit-source" data-source-id="<%= sources[i].id() %>"
                   class="uk-icon-link" uk-icon="file-edit"></a>
                <a href="#delete-source" data-source-id="<%= sources[i].id() %>"
                   class="uk-icon-link" uk-icon="trash"></a>
            </td>


        </tr>
    <% } %>
    </tbody>
</table>