<div class="tm-main uk-width-medium-3-4">
    <article class="uk-article">

        <h1 class="uk-article-title"><%= feed.title() %></h1>

        <div class="uk-panel">
          <% if (feed.favorite()) { %>
            <i class="uk-icon-star uk-icon-medium unfavorite" data-favorite="<%= feed.id() %>"></i>
          <% } else { %>
            <i class="uk-icon-star-o uk-icon-medium favorite" data-favorite="<%= feed.id() %>"></i>
          <% } %>
          <%= moment(feed.published_date()).fromNow() %>
        </div>

        <hr class="uk-article-divider">


        <p class="uk-article-lead"><%= feed.anything() %></p>

    </article>

</div>