
<table class="uk-table">
    <thead>
      <tr>
        <th>PluginName</th>
        <th>About</th>
        <th>Version</th>
        <th>Author</th>
      </tr>
    </thead>
</table>

<% if (plugins.feed.length > 0) { %>
<% for(var i = 0; i < plugins.feed.length; i++) { %>
    <table class="uk-table uk-table-striped">
       <tbody>
         <tr>
           <td><%= plugins.feed[i].pluginName %></td>
           <td><%= plugins.feed[i].about %></td>
           <td><%= plugins.feed[i].version %></td>
           <td><%= plugins.feed[i].author %></td>
         </tr>
       </tbody>
    </table>
<% } %>
<% } %>

<% if (plugins.content.length > 0) { %>
<% for(var i = 0; i < plugins.content.length; i++) { %>
    <table class="uk-table uk-table-striped">
       <tbody>
         <tr>
           <td><%= plugins.content[i].pluginName %></td>
           <td><%= plugins.content[i].about %></td>
           <td><%= plugins.content[i].version %></td>
           <td><%= plugins.content[i].author %></td>
         </tr>
       </tbody>
    </table>
<% } %>
<% } %>

<% if (plugins.publish.length > 0) { %>
<% for(var i = 0; i < plugins.publish.length; i++) { %>
    <table class="uk-table uk-table-striped">
       <tbody>
         <tr>
           <td><%= plugins.publish[i].pluginName %></td>
           <td><%= plugins.publish[i].about %></td>
           <td><%= plugins.publish[i].version %></td>
           <td><%= plugins.publish[i].author %></td>
         </tr>
       </tbody>
    </table>
<% } %>
<% } %>

<% if (plugins.site.length > 0) { %>
<% for(var i = 0; i < plugins.site.length; i++) { %>
    <table class="uk-table uk-table-striped">
       <tbody>
         <tr>
           <td><%= plugins.site[i].pluginName %></td>
           <td><%= plugins.site[i].about %></td>
           <td><%= plugins.site[i].version %></td>
           <td><%= plugins.site[i].author %></td>
         </tr>
       </tbody>
    </table>
<% } %>
<% } %>
