<ul class="uk-list custom-padding-top-30" id="source-overview-<%= source.id() %>">
    <li><%= source.name() %>
        <span class="uk-align-right custom-padding-right-3">
                        <a href="#refresh-source" data-source-id="<%= source.id() %>"
                           title="refresh" uk-icon="refresh"></a>
                        <a href="#edit-source" data-source-id="<%= source.id() %>"
                           title="edit source" uk-icon="file-edit"></a>
                        <a href="#remove-source" data-source-id="<%= source.id() %>"
                           title="remove feed" uk-icon="trash"></a>
                    </span>
    </li>
    <li>
        <a class="uk-link-text" href="<%= source.url() %>">
            <%= source.url() %>
        </a>
    </li>
    <li>Updated every <%= source.interval() %> hour(s)</li>
    <li>Last updated  <%= moment(source.last_update_in_tz()).fromNow() %></li>
    <li>plugins?
        <% if (source.has_plugin()) { %>
            Yes
        <% } else { %>
            No
        <% } %>
    </li>
    <li><%= overview.feedsCount %> feeds</li>
    <li>unread count:
        <span class="source-overview-unread-count" data-source-id="<%= source.id() %>">
        <% if (overview.unreadCount != 0) { %>
            <%= source.count() %>
        <% } else { %>
            -
        <% } %>
        </span>
    </li>

    <li>In favorites:
        <span class="source-overview-favorites-count" data-source-id="<%= source.id() %>">
            <%= overview.favoritesCount %>
        </span>
    </li>

</ul>
