<li id="source-<%= source.id() %>">
    <span class="uk-text-left">
      <% if (source.is_disable()) { %>
        <span><%= source.name() %></span>
      <% } else { %>
        <a class="source-url" href="<%= source.href() %>">
          <%= source.name() %>
        </a>
      <% } %>
    </span>

    <span class="uk-badge uk-float-right uk-margin-small-right
        uk-badge-notification uk-text-right source-count" data="<%= source.id() %>">
        <%= source.count() %></span>
    <% if (source.withPlugin()) { %>
          <% if (source.is_disable()) { %>
            <i class="uk-badge uk-float-right uk-margin-small-right
                           uk-badge-notification
                           uk-badge-danger
                           uk-icon-plug"></i>
          <% } else { %>
            <i class="uk-badge uk-float-right uk-margin-small-right
                           uk-badge-notification
                           uk-badge-success
                           uk-icon-plug"></i>
        <% } %>

    <% } %>
</li>
