<li class="source-element" id="source-<%= source.id() %>" data-source-id=<%= source.id() %>>
  <% if (source.is_plugin_disabled()) { %>
    <span class="uk-link-muted uk-text-small"><%= source.name() %></span>
  <% } else { %>
    <a class="uk-link-muted uk-text-small source-url" href="<%= source.href() %>">
      <%= source.name() %>
    </a>
  <% } %>


    <a id="source-count-<%=source.id()%>"
       class="uk-badge uk-align-right uk-margin-remove uk-text-small source-count"
       data-source-id="<%= source.id() %>">
        <% if (!source.is_empty()) { %>
            <%= source.count() %>
        <% } %>
    </a>

</li>
